.homeItems-navbar {
  display: flex;
  /* margin-left: 27em; */
  width: 100%;
    height: fit-content;
    justify-content: flex-end;
  
}
.homeitems-buttons {
  text-decoration: none;
}
.searcher {
border-color: #BF9270;
  border-width: 1px;
  border-style: solid;
  width: 198px;
  height: 20px;
  border-radius: 5px;
  cursor: pointer;
}
